<link rel="stylesheet" href="/css/verify.css">
<% if(error != '') { %> 

    <div class="centered-div">
        This badge Can not be verified.
        <p>Possible reasons</p>
        <ol>
            <li>This badge does not exist</li>
            <li>The link is expired</li>
            <li>Student is does not have a account with us</li>
            <li>Client removed student account</li> 
        </ol>
    </div>

<% }else{ %> 
    <div class="centered-div">
        <p id="secure-badge">This badge is <span>VERIFIED</span></p>
        <img src="<%= badge.url %>" alt="<%= badge.name %>">
        <p id="badge-name"><%= badge.name %></p>
        <p>This badge was awarded to </p>
        <strong id="student-name"><%= student.name %></strong>
        <p id="client-name">by <%= badge.user.name %></p>
    </div>
<% } %>